{% extends "::base.html.twig" %}

{% block title %}SynopsisEventBundle:Event:index{% endblock %}

{% block body %}
    <p>Event Index</p>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Subject Type</th>
                <th>Action</th>
                <th>Event Attributes</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.subject.name }}</td>
                    <td>{{ event.subject.type.namespace }}</td>
                    <th>{{ event.action.name }}</th>
                    <td>
                        <ul>
                            {% for value in event.attributeValues %}
                                <li>
                                    <strong>{{ value.attribute }}:</strong>
                                    {{ value.value }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ event.createdAt | date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
