{% extends "::base.html.twig" %}

{% block title %}SynopsisSubjectBundle:Subject:view{% endblock %}

{% block body %}
    <p>Subject View</p>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Hash</th>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.type.namespace }}</td>
                <td>{{ subject.description }}</td>
                <td>{{ subject.createdAt | date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    {# List the available actions available to take on this subject. #}
    {% if subject.type.actions |length %}
        <hr />
        <h3>Available Actions</h3>

        <ul>
            {% for action in subject.type.actions %}
                <li>
                    #{{ action.id }} -
                    <a href="{{ path('event_new', { 'subject' : subject.uuid, 'action' : action.id }) }}">
                        {{ action.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if events is defined and events | length %}
        <hr />
        <h3>Recent Events</h3>

        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Subject Type</th>
                <th>Action</th>
                <th>Event Attributes</th>
                <th>Date</th>
            </tr>
            </thead>

            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.subject.name }}</td>
                    <td>{{ event.subject.type.namespace }}</td>
                    <th>{{ event.action.name }}</th>
                    <td>
                        <ul>
                            {% for value in event.attributeValues %}
                                <li>
                                    <strong>{{ value.attribute }}:</strong>
                                    {{ value.value }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ event.createdAt | date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}